
---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: infoscale-licensing-operator
  name: infoscale-vtas
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: infoscale-vtas/lico-webhook-cert
    controller-gen.kubebuilder.io/version: v0.19.0
  name: licenses.vlic.veritas.com
spec:
  group: vlic.veritas.com
  names:
    kind: License
    listKind: LicenseList
    plural: licenses
    singular: license
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.namespace
      name: Namespace
      type: string
    - jsonPath: .status.licenseEditionStatus
      name: License-Edition
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        description: License is the Schema for the licenses API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: LicenseSpec defines the desired state of License
            properties:
              licenseEdition:
                description: License Edition for Veritas products
                enum:
                - Developer
                - Storage
                - Enterprise
                type: string
              licenseServer:
                description: License server hostname for Veritas products
                type: string
            required:
            - licenseEdition
            type: object
          status:
            description: LicenseStatus defines the observed state of License resource
            properties:
              licenseEditionStatus:
                description: License Edition for Veritas products
                type: string
              licenseServerStatus:
                description: License Server status for Veritas products
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
---
apiVersion: v1
imagePullSecrets:
- name: infoscale-imgpuller
kind: ServiceAccount
metadata:
  name: infoscale-licensing-operator
  namespace: infoscale-vtas
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: lico-leader-election-role
  namespace: infoscale-vtas
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: licensing-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - patch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - apps
  resources:
  - replicasets
  verbs:
  - list
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  - clusterissuers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates/finalizers
  - clusterissuers/finalizers
  verbs:
  - update
- apiGroups:
  - cert-manager.io
  resources:
  - certificates/status
  - clusterissuers/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infoscale.veritas.com
  resources:
  - infoscaleclusters
  verbs:
  - get
  - list
- apiGroups:
  - vlic.veritas.com
  resources:
  - licenses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vlic.veritas.com
  resources:
  - licenses/finalizers
  verbs:
  - update
- apiGroups:
  - vlic.veritas.com
  resources:
  - licenses/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: lico-leader-election-rolebinding
  namespace: infoscale-vtas
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: lico-leader-election-role
subjects:
- kind: ServiceAccount
  name: infoscale-licensing-operator
  namespace: infoscale-vtas
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: licensing-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: licensing-role
subjects:
- kind: ServiceAccount
  name: infoscale-licensing-operator
  namespace: infoscale-vtas
---
apiVersion: v1
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.1:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: afbdb67e.veritas.com
kind: ConfigMap
metadata:
  name: lico-manager-config
  namespace: infoscale-vtas
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    vlic.veritas.com/certificate: infoscale-vtas/lico-webhook-cert
  name: lico-webhook-service
  namespace: infoscale-vtas
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: infoscale-licensing-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: infoscale-licensing-operator
  name: infoscale-licensing-operator
  namespace: infoscale-vtas
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: infoscale-licensing-operator
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: infoscale-licensing-operator
    spec:
      containers:
      - args:
        - --config=controller_manager_config.yaml
        command:
        - /manager
        env:
        - name: nodeName
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: podname
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: LICO_DEPLOYMENT_NS
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: LICO_DEPLOYMENT_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['control-plane']
        - name: TLS_CIPHER_SUITES
          value: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        image: <org-registry>/arctera/infoscale-license-operator:9.1.0-rhel
        imagePullPolicy: IfNotPresent
        lifecycle:
          preStop:
            exec:
              command:
              - /manager --manage-certs=delete-issuers
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        ports:
        - containerPort: 9443
          name: webhook-server
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
        - mountPath: /controller_manager_config.yaml
          name: lico-manager-config
          subPath: controller_manager_config.yaml
      initContainers:
      - args:
        - --manage-certs=create
        command:
        - /manager
        env:
        - name: LICO_DEPLOYMENT_NS
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: LICO_DEPLOYMENT_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['control-plane']
        - name: nodeName
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: podname
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        image: <org-registry>/arctera/infoscale-license-operator:9.1.0-rhel
        imagePullPolicy: IfNotPresent
        name: pre-manager
      securityContext:
        runAsNonRoot: true
      serviceAccountName: infoscale-licensing-operator
      terminationGracePeriodSeconds: 10
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          optional: true
          secretName: lico-tls-cert
      - configMap:
          name: lico-manager-config
          optional: true
        name: lico-manager-config
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: infoscale-vtas/lico-webhook-cert
  name: lico-mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: lico-webhook-service
      namespace: infoscale-vtas
      path: /mutate-vlic-veritas-com-v1-license
  failurePolicy: Fail
  name: lico-mutate.veritas.com
  rules:
  - apiGroups:
    - vlic.veritas.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - licenses
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: infoscale-vtas/lico-webhook-cert
  name: lico-validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: lico-webhook-service
      namespace: infoscale-vtas
      path: /validate-vlic-veritas-com-v1-license
  failurePolicy: Fail
  name: lico-validate.veritas.com
  rules:
  - apiGroups:
    - vlic.veritas.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - licenses
  sideEffects: None
